<h1><%= @dog.name %></h1>
<br>

<ul>
    <li>Name: <%= @dog.name %></li>
    <br>
    <li>Breed: <%= @dog.breed %></li>
    <br>
    <li>Age: <%= @dog.age %></li>
    <br>
    <li>Sex: <%= @dog.sex %></li>
    <br>

</ul>

<h4> Past walks</h4>

<ul>
    <% @dog.signups.each do |walk| %>
    <li>Date : <%= walk.date.strftime '%B %-d, %Y' %>
    <br>
    Time: <%= walk.time.strftime '%l:%M %P' %>
    <br>
    Walker :<%= walk.walker.full_name%> </li>
    <% end %>
</ul>