<h1><%= @dog.name %></h1>
<br>

<ul>
    <li>Name: <%= @dog.name %></li>
    <br>
    <li>Breed: <%= @dog.breed %></li>
    <br>
    <li>Age: <%= @dog.age %></li>
    <br>
    <li>Sex: <%= @dog.sex %></li>
    <br>


</ul>